
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
<section class="section about-section gray-bg" id="about">
    <div class="container" style="background-color: #fbf7ed;">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h3><span>Votez pour votre candidat préféré</span> ?</h3>
                    <p>Voter avec un clic! Le système de POLYAS vous permet de voter confortablement à partir d'un appareil équipé d'Internet (smartphones, ordinateurs, PC).</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row clearfix">


            <div class="col-lg-3 col-md-4 col-sm-12"  *ngFor="let item of infos;">
                <div class="card product_item">
                    <div class="body">
                        <div class="cp_img">
                            <img src="../../assets/images/candidats/{{item.image}}" alt="Product" class="img-fluid">
                        <!--     <div class="hover">
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                                <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-shopping-cart"></i></a>
                            </div> -->
                        </div>
                        <div class="product_details">
                            <h5><a href="">{{item.name}}</a></h5>
                            <h5><a href="">{{item.ville}}</a></h5>
                            <ul class="product_price list-unstyled">
                                <li style="color:green;    border: 2px solid green;
                                border-radius: 10px;" class="old_price hand" (click)="pay(item.id)">Voter maintenant</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>