<section class="section" style="padding-top: 100px;padding-bottom: 100px;">
    <div class="container">
        <div class="row justify-content-center gapsectionsecond">
            <div class="col-lg-7 text-center">
                <div class="title-big pb-3 mb-3">
                    <h3>GALERIE</h3>
                </div>
                <p class="description-p text-muted pe-0 pe-lg-0">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus quas optio reiciendis deleniti voluptatem facere sequi, quia, est sed dicta aliquid quidem facilis culpa iure perferendis? Dolor ad quia deserunt.
                </p>
            </div>
        </div>

        <div class="port portfolio-masonry mt-4">
            <div class="portfolioContainer row photo">
                <div class="col-lg-4 p-4 ">
                    <div class="item-box">
                        <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                            <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                  
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 p-4 branding coffee">
                    <div class="item-box">
                        <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                            <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <p class="text-dark mb-0">Coffee</p>
                                    <h6 class="text-dark mt-1 text-uppercase">PageMaker including</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 p-4 branding photo">
                    <div class="item-box">
                        <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                            <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <p class="text-dark mb-0">Lebles</p>
                                    <h6 class="text-dark mt-1 text-uppercase">Sometime Active</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 p-4 branding design photo">
                    <div class="item-box">
                        <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                            <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <p class="text-dark mb-0">Card</p>
                                    <h6 class="text-dark mt-1 text-uppercase">Therefore Always</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 p-4 design photo">
                    <div class="item-box">
                        <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                            <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <p class="text-dark mb-0">Pepers</p>
                                    <h6 class="text-dark mt-1 text-uppercase">Therefore Always</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 p-4 branding design coffee">
                    <div class="item-box">
                        <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                            <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <p class="text-dark mb-0">Bottle</p>
                                    <h6 class="text-dark mt-1 text-uppercase">Therefore Always</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 p-4 branding design">
                    <div class="item-box">
                        <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                            <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <p class="text-dark mb-0">Watch</p>
                                    <h6 class="text-dark mt-1 text-uppercase">Sometime Active</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 p-4 branding design photo coffee">
                    <div class="item-box">
                        <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                            <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <p class="text-dark mb-0">Milk</p>
                                    <h6 class="text-dark mt-1 text-uppercase">Sometime Active</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 p-4 branding design photo coffee">
                    <div class="item-box">
                        <a class="mfp-image" href="https://via.placeholder.com/800x540/D3D3D3/000000" title="Project Name">
                            <img class="item-container img-fluid" src="https://via.placeholder.com/800x540/D3D3D3/000000" alt="work-img">
                            <div class="item-mask">
                                <div class="item-caption">
                                    <p class="text-dark mb-0">Milk</p>
                                    <h6 class="text-dark mt-1 text-uppercase">Sometime Active</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>